{% extends "base.html" %}

{% block content %}
<h2>Login</h2>

<form method=POST>
	<label>name:<br>
	<input type=text name="name"></label><br>

	password:<br>
	<input type=password name="password"><br>

	email:<br>
	<input type=email name="email"><br>

	favourite day:<br>
	<input type=date name="favday"><br>

	<label>I like summer
	<input type=checkbox name="likesummer"></label><br>

	<input type=hidden name="csrf" value="9d3i<dsr4_3eghe#">
	
	<input type=submit>
</form>

{% endblock content %}
