<!doctype html>
<html lang=en>
	<head>
		{% set title = "Default Title" if not title else title %}
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
	<style>
	table {
  	font-family: arial, sans-serif;
 	 border-collapse: collapse;
 	 width: 100%;
	}

	td, th {
  	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 8px;
	}

	tr:nth-child(even) {
  	background-color: #dddddd;
	}
	</style> 
	</head>
	<body>
	<nav>
		<a href="/">Home</a> - 
		<a href="/add">Add</a>
	</nav>

	{% for message in get_flashed_messages() %}                     
		<p><b>{{ message }}</b></p>                             
	{% endfor %}

	<h1>{{ title }}</h1>
	{% block content %}

	{% endblock content %}
	</body>
</html>
