<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Databases</title>
</head>
<body>
	<nav>
		<a href="/">Frontpage</a>
		<a href="/new">Movie</a>
		<a href="/msg">Message</a>
	</nav>
	{% if get_flashed_messages() %}                                         
                        {% for message in get_flashed_messages() %}                     
                                <p><b>{{ message }}</b></p>                             
                        {% endfor %}
                {% endif %}
	{% block content %}
	{% endblock %}
</body>
</html>
