{% if not title %}
	{% set title="Welcome, please sign in" %}
{% endif %}

<!doctype html>
<html lang=en>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
	<style>
	{% include "style.css" %}
	</style> 
	</head>
	<body>
		{% for msg in get_flashed_messages() %}
			<p><b>{{ msg }}</b></p>
		{% endfor %}
		<nav>
			<a href="/">Home</a> 
			<a href="/book/add">Add book review</a> 
			{% if currentUser() %}
				{% set title="Your book reviews" %}   
				<a href="/user/logout">Logout</a>  
			{% else %}
				<a href="/user/login">Login</a> 
				<a href="/user/register">Register</a>
			{% endif %}
		</nav>

		<h1>{{ title }}</h1>
		
		{% block content %}
		<p>Welcome</p>
		{% endblock content %}

	</body>
</html>
