{% if not title %}
	{% set title="Rate your books" %}
{% endif %}

<!doctype html>
<html lang=en>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
	<style>
	table {
  	font-family: arial, sans-serif;
 	 border-collapse: collapse;
 	 width: 100%;
	}

	td, th {
  	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 8px;
	}

	tr:nth-child(even) {
  	background-color: #dddddd;
	}
	</style> 
	</head>
	<body>
		{% for msg in get_flashed_messages() %}
			<p><b>{{ msg }}</b></p>
		{% endfor %}
		<nav>
			<a href="/">Home</a> - 
			<a href="/book/add">Add book review</a> - 
			{% if currentUser() %}
				<a href="/user/logout">Logout</a> - 
				{{ currentUser().email }} - 
			{% else %}
				<a href="/user/login">Login</a> - 
				<a href="/user/register">Register</a>
			{% endif %}
		</nav>

		<h1>{{ title }}</h1>
		
		{% block content %}
		<p>Welcome</p>
		{% endblock content %}

	</body>
</html>
